.container {
  margin: 0%;
  padding: 0%;
  max-width: 100%;
}
h1 {
  margin: auto 0%;
  padding: 70px 50px 60px 50px;
  font-size: 70px;
  color: white;
  font-family: "Bangers", cursive;
  font-weight: 900;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
  text-shadow: 8px 4px #f51a5f;
}

.searchEngine {
  padding: 20px 50px;
  background-color: rgba(255, 255, 255, 0.795);
  border-radius: 10px;
  margin: 10px auto;
  max-width: 1000px;
  box-shadow: 2px 4px 20px #b6b6b6;
}
.search-title {
  font-family: "Roboto", sans-serif;
} 

.suggestion {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  margin-top: 10px;
}
input {
  border-radius: 10px;
  height: 35px;
  width: 400px;
}
.row {
  display: flex;
  justify-content: center;
}
.col-2 {
  margin-top: 30px;
  padding: 0px;
}
.search-bar {
  position: relative;
  float: right;
}

.search-button {
  position: relative;
  float: left;
  top: 32px;
}
Button .hover {
  cursor: pointer;
  transition: ease-in-out;
  background-color: magenta;
}

.footerImage {
  text-align: center;
  margin: auto;
}

@media (max-width: 576px) {
  h1 {
    font-size: 25px;
    padding: 0%;
    text-shadow: 3px 2px #f51a5f;
  }
  .suggestion {
    font-size: 10px;
  }
  h5 {
    font-size: 15px;
  }
  
  .search-button {
    position: relative;
    float: right;
    right: 120px;
    top: -5px;
  }
  button{
    padding: 5px 15px;
  }
  .footerImage img {
    width: 30;
  }
  .form-element {
    width: 300px;
  }
}

@media (max-width: 900px) {
  h1 {
      font-size: 60px;
      padding: 0%;
      text-shadow: 3px 2px #f51a5f;
    }
         .footerImage img {
           width: 40;
         }
}