.meaning h3 {
  font-family: "Bangers", cursive;
  font-size: 35px;
}

.definition {
  color: #f51a5f;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.example {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 576px) {
  .meaning h3{
    font-size: 25px;
  }
  .definition {
    font-size: 15px;
  }
}

@media (min-width: 760px) {
  .meaning h3 {
      font-size: 40px;
    }
  .definition {
      font-size: 20px;
    }
}